* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-image: url(https://preview.redd.it/4ai8wekag7i61.jpg?auto=webp&s=5e1a4943e22f306221211c6903ea2d42f0590ac1);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header, section {
    max-width: 1080px;
    text-align: center;
    margin: 32px auto 32px;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    color: #FFAE00;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li div{
 background-color: #CACACA;
 margin-top: 32px;
}

li img {
    height: 400px;
    width: 300px;
}

.element-type {
    background-color: rgba(255, 174, 0, 0.8);
    border-radius: 4px;
}

.element-type h2 {
    font-family: 'Playfair Display', sans-serif;
    color: #1779BA;
    font-weight: bold;
}

